*
{
  font: 12px/18px Arial black;
}
body
{
  background: rgba(127, 127, 127, 0.5);
  display:table;
}
.about, .experience, .contacts
{
  border-width: 2px;
  border-color: black;
  border-style: dashed;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  min-height: 50px;
}
.about
{
  background-color: rgba(255, 0, 0, 0.5);
}
.experience
{
  margin-top: 100px;
  background-color: rgba(0, 255, 0, 0.5);
}
.contacts
{
  margin-top: 100px;
  background-color: rgba(0, 0, 255, 0.5);
}
